// variables
$body-bg: #132B4C;
$main-font: 'Karla', sans-serif;
$primary-color: #769CD4;
$secondary-color: #2A384C;
$tertiary-color: #3472CC;
$quaternary-color: #275599;
$light: #f4f4f4;
$dark: #333;
$container: 960px;
$section-padding: 20px;

$font-two: 'Kavivanar', sans-serif;
$font-three: 'Poppins', sans-serif;
$font-four: 'Nunito', sans-serif;
$font-five: 'Bitter', serif;
$font-six: 'Crimson Text', serif;
$font-seven: 'Nanum Myeongjo', serif;
$font-eight: 'Vollkorn', serif;
$font-nine: 'Hind Siliguri', sans-serif;
$font-ten: 'Pragati Narrow', sans-serif;
